@import "../../sass/colors.scss";

.container-chart {
  margin-top: 40px;

  &.direction-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.line-vertical-header {
  border-right: 1px solid $black01;
  height: 120px;
  margin-right: 30px;
  margin-left: 30px;
}
.header-box{
  position: relative;
}
.header-box::after{
  content: " ";
  position: absolute;
  right: -20%;
  bottom: 0;
  height: 120px;
  width: 2px;
  border-right: 1px solid $black01;
}

div.header-box:last-child::after{
  border-right: none !important;
}